* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style-type: none;
}

img {
  width: 100%;
  height: auto;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

body {
  font-family: Roboto, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  letter-spacing: 0.2px;
  font-style: normal;
  color: #fff;
}

.m0-a, #header .screens, #header .navbar {
  margin: 0 auto;
}

.ta-c, #header .showcase {
  text-align: center;
}

.ta-l {
  -moz-text-align-last: left;
       text-align-last: left;
}

.ta-r {
  text-align: right;
}

.flex, #header .showcase .showcase-btns, #header .showcase, #header .navbar ul, #header .navbar {
  display: flex;
}

.flex-i, .btn, .primary-btn, .standart-btn {
  display: inline-flex;
}

.ai-c, #header .navbar, .btn, .primary-btn, .standart-btn {
  align-items: center;
}

.ai-e {
  align-items: end;
}

.ai-s {
  align-items: start;
}

.jc-c, #header .showcase .showcase-btns {
  justify-content: center;
}

.jc-e {
  justify-content: end;
}

.jc-s {
  justify-content: start;
}

.jc-sb, #header .navbar ul, #header .navbar {
  justify-content: space-between;
}

.fd-c, #header .showcase {
  flex-direction: column;
}

.flex-w {
  flex-wrap: wrap;
}

.flex-c {
  display: flex;
  justify-content: center;
  align-items: center;
}

.po-r, #header .screens {
  position: relative;
}

.po-a {
  position: absolute;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style-type: none;
}

img {
  width: 100%;
  height: auto;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

body {
  font-family: Roboto, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  letter-spacing: 0.2px;
  font-style: normal;
  color: #fff;
}

.m0-a, #header .screens, #header .navbar {
  margin: 0 auto;
}

.ta-c, #header .showcase {
  text-align: center;
}

.ta-l {
  -moz-text-align-last: left;
       text-align-last: left;
}

.ta-r {
  text-align: right;
}

.flex, #header .showcase .showcase-btns, #header .showcase, #header .navbar ul, #header .navbar {
  display: flex;
}

.flex-i, .btn, .primary-btn, .standart-btn {
  display: inline-flex;
}

.ai-c, #header .navbar, .btn, .primary-btn, .standart-btn {
  align-items: center;
}

.ai-e {
  align-items: end;
}

.ai-s {
  align-items: start;
}

.jc-c, #header .showcase .showcase-btns {
  justify-content: center;
}

.jc-e {
  justify-content: end;
}

.jc-s {
  justify-content: start;
}

.jc-sb, #header .navbar ul, #header .navbar {
  justify-content: space-between;
}

.fd-c, #header .showcase {
  flex-direction: column;
}

.flex-w {
  flex-wrap: wrap;
}

.flex-c {
  display: flex;
  justify-content: center;
  align-items: center;
}

.po-r, #header .screens {
  position: relative;
}

.po-a {
  position: absolute;
}

.btn, .primary-btn, .standart-btn {
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0.2px;
  padding: 13.5px 46px;
  cursor: pointer;
  box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
}

.standart-btn {
  background-color: transparent;
  border: 1px solid #fff;
}

.primary-btn {
  background-color: #4452fe;
  border: 1px solid #4452fe;
}

.link, #header .navbar ul li {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.headline {
  font-size: 80px;
  font-weight: 500;
  line-height: 88px;
}

.sub-heading {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.second-headline {
  font-size: 52px;
  font-weight: 400;
  line-height: 62px;
}

.title {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.1px;
}

.paragraphe {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.subtitle {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.1px;
}

body {
  background-color: #181818;
  color: #fff;
}

#header .navbar {
  max-width: 1100px;
  padding: 33px 39px;
}
#header .navbar ul {
  width: 30%;
  margin-right: 4%;
}
#header .navbar img {
  width: 186px;
  height: 58px;
}
#header .showcase {
  padding: 35px 0;
}
#header .showcase .showcase-text {
  margin: 50px auto;
}
#header .showcase .showcase-text .headline {
  padding: 10px;
  margin-bottom: 17px;
}
#header .showcase .showcase-text .sub-heading {
  padding: 10px;
}
#header .showcase .showcase-btns {
  gap: 35px;
}
#header .showcase .showcase-btns .primary-btn,
#header .showcase .showcase-btns .standart-btn {
  padding: 20px 40px;
}
#header .screens {
  max-width: 1552px;
  height: 850px;
  background-image: url(../../../images/screens_img-linear.png);
  background-repeat: no-repeat;
  background-size: cover;
}/*# sourceMappingURL=main.css.map */