$first-text-col: #000;
$second-text-col: #5c5c5c;
$light-text-col: #fff;
$opentype-bg-color: #343434;

$light-bg-col: #fff;
$main-bg-col: #181818;
$bg-gradient: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #0e0e0e 66.15%);

$primary-col: #4452fe;
$secondary-col: #02e4c0;
